<footer class="bg-secondary pt-3 pb-2 text-center">
    <p class="text-white footer">
        All articles & images sourced from <a href="https://www.npr.org/sections/news/" target="_blank">NPR
            News</a>
    </p>
</footer>