<div class="navbar navbar-light bg-secondary">
    <span class="navbar-brand font-weight-bold text-white mb-0">
        <h4>Mongo Scraper</h4>
    </span>
    <a class="navbar-brand text-white" href="/">Home</a>
    <a class="navbar-brand text-white" id="saved" href="/saved">Saved Articles</a>
    <a class="navbar-brand text-white" href="/scrape">SCRAPE NEW ARTICLES!</a>
</div>